<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoisu C&R</title>
    {% load static %}
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/SoongCi/HoisuFront/main/src/assets/img/HoisuC%26R.png">
    {% block css %}
    {% endblock %}
    <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/register-restaurant.css' %}">

    {% load pwa %}

    {% progressive_web_app_meta %}

</head>
<body>
{% load crispy_forms_tags %}
    <section class="showcase-area" id="showcase">
      <div class="showcase-container">
        <!--<h1 class="main-title" id="home">Bienvenido a Hoisu C&R</h1>
        <p class="description-title">Deliciosa comida y una  asombrosa experiencia gastronómica</p>
        <a href="#food-menu" class="btn btn-primary">Reservar</a>-->
          {% csrf_token %}
          {{ form | crispy }}

      </div>
    </section>
</body>
</html>