{% extends 'app/layout.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block contenido_principal %}

<br>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <h2>Editar Productos</h2>
                <p>Este formulario es para editar los Productos.</p>
                <hr>
                <form action="" method="post" entype="multipart/form-data">

                    {% csrf_token %}
                    {{ form |crispy }}

                    <hr>
                    <br>
                    <div class="d-flex justify-content-end">
                        
                        <input type="submit" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Editar" class="btn btn-primary">
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}