<!DOCTYPE html>
<html>

<head>
    {% load static tailwind_tags %}
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
    <title>Hoisu C&R</title>

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'app/images/icono.png' %}">

    {% block css %}
    {% endblock %}
    {% load pwa %}

    {% progressive_web_app_meta %}

</head>

<body>
    <!--<div id="principal">
        <header>
            <div>
                <nav class="nav">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img src="{% static 'app/images/chikiswaffles.png' %}"
                                alt="Logo pagina" width="160"></a>
                    </div>

                    <ul>
                        <li><a href="{% url 'establecimientos' %}">Productos</a></li>
                        <li><a href="{% url 'contacto' %}">Consultas</a></li>

                        {% if perms.myapp.add_establecimientos %}
                        <li>
                            <a href="{% url 'agregar_establecimiento' %}">Agregar productos</a>
                        </li>
                        {% endif %}
                        {% if perms.myapp.view_establecimientos %}
                        <li>
                            <a href="{% url 'listar_establecimiento' %}">Listar productos</a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}

                        <li><a href="{% url 'logout' %}" onclick="cerrarSesion">Cerrar sesion</a>
                        </li>
                        <li><a href="#">@{{ user.username }}</a>
                        </li>

                        {% else %}
                        <li><a href="{% url 'registro' %}">Registrate</a></li>

                        <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </header>-->


        <div class="contenido_principal">

            {% block contenido_principal %}
            {% endblock contenido_principal %}
        </div>





    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}

    {% for m in messages %}

    <script>
        Swal.fire({
            'title': 'Felicitaciones',
            'text': '{{m}}',
            'icon': 'success'
        })
    </script>

    {% endfor %}

    {% endif %}

    {% block js %}
    <script src="{% static 'app/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'app/js/cerrar_sesion.js' %}"></script>
    <script>
            // sweetalert
    </script>
    {% endblock js %}
</body>

</html>

{% comment %} <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
    title="Dismissible popover"
    data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
{% endcomment %}