{% extends 'app/index.html' %}

{% block contenido_principal %}
{% load static %}
{% load humanize %}
{% block destacados %}

<div class="titulo-seccion">
    <h2 class="titulo">Restaurantes</h2>
</div>
 <section class="establecimientos">

        {% for e in establecimientos %}

                 <div class="e-destacado">
                    <img class="e-imagen" src="{{ e.imagen.url }}">
                    <h4 class="titulo">{{ e.nombre }}</h4>
                    <div class="caracteristicas">
                        <strong><p class="caracteristica">Categoría : {{ e.categoria }}</p></strong>
                        <p class="caracteristica">Departamento : {{ e.departamento }}</p>
                        <p class="caracteristica">Ciudad : {{ e.ciudad }} </p>
                        <p class="caracteristica">Rango de precios : {{ e.rango_precios }}</p>

                    </div>

                    {% if user.is_authenticated %}
                        <button class="btn-ver">
                             <a href='/{{ e.slug }}' class=”btn-ver”>Ver establecimiento</a>
                        </button>

                    {% endif %}
                 </div>

        {% endfor %}
 </section>

{% endblock %}
{% endblock %}