body{
    padding: 0;
    margin: 0;
}
.container{
     height: 100vh;
  background: /*linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),*/
    url("https://images.pexels.com/photos/1833349/pexels-photo-1833349.jpeg?cs=srgb&dl=pexels-valeria-boltneva-1833349.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form{
    width: 25rem;
    height: 40rem;
    background: white;
    text-align:center;
}
.title-label{
    margin-bottom: 2rem;
    color: #AC0202;
}
.input-field{
    width: 20rem;
    height: 2rem;
}
.btn {
  display: inline-block;
  padding: 1em 5em;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 1.5em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #AC0202;
}

.btn-primary:hover {
  background: #710000;
  transition: background 0.3s ease-in-out;
}